.logininput{
     display: flex;
     justify-content: center;
     align-items: center;
     height: 50vh;
     flex-direction: column;
     border: 2px solid black;
     margin: 200px;
     

}
.logininput input{
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
    

}
.logininput button{
    background-color: navy;
    color:  wheat;
    padding: 5px;
    border-radius: 5px;
}